
@{
    ViewBag.Title = "SignUp";
}

<div id="mainDiv" style="width: 100%; text-align: center;">
    <div id="contentDiv" style="display: inline-block;">
        <div id="headerDiv">
            <h2>Créer votre compte</h2>
        </div>
        <div id="fillUpDiv">
            <table>
                @using (Html.BeginForm("SignUp", "Account", FormMethod.Post , new { id = "createAccForm"}))
                {
                    <tr>
                        <td>
                            <label style="float:left;">Identifiant</label>
                        </td>
                        <td>
                        @if (ViewBag.Login != null)
                        {
                            <input type="text" name="login" id="login" value="@Html.Raw(ViewBag.Login)" style="float:right" />
                        }
                        else {
                            <input type="text" name="login" id="login" style="float:right"/>
 
                        }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="float:left;">Mot de passe</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="password" style="float:right"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="float:left;">Prénom</label>
                        </td>
                        <td>
                            @if (ViewBag.FirstName != null)
                            {
                                <input type="text" name="firstName" id="firstName" value="@Html.Raw(ViewBag.FirstName)" style="float:right" />
                            }
                            else {
                                <input type="text" name="firstName" id="firstName" style="float:right" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="float:left;">Nom</label>
                        </td>
                        <td>
                            @if (ViewBag.LastName != null)
                            {
                                <input type="text" name="lastName" value="@Html.Raw(ViewBag.LastName)" id="lastName" style="float:right" />
                            }
                            else {
                                <input type="text" name="lastName" id="lastName" style="float:right" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="float:left">Description</label>
                        </td>
                        <td>
                            @if (ViewBag.Description != null)
                            {
                                <textarea name="description" form="createAccForm" style="float:right; width:100%">@Html.Raw(ViewBag.Description)</textarea>
                            }
                            else {
                                <textarea name="description" form="createAccForm" style="float:right; width:100%"></textarea>
                            }
                        </td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td></td>
                        <td style="float:left">
                            <input type="submit" value="Creer un compte" />
                        </td>
                    </tr>
                }
            </table> 
            @if (ViewBag.ErrorMessage != null)
            {
                <label>@Html.Raw(ViewBag.ErrorMessage)</label>
            }
            <br />
            @Html.ActionLink("Vous avez un compte existant? Cliquer ici!", "Login", "Account")<br />
            @Html.ActionLink("Retourne à l'accueil", "Welcome", "Home")
        </div>
    </div>
</div>

