@model _420_476_ProjetFinal_Desrosiers_Pucacco_Lam.Offer

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>
<table>
    <tr>
        <td>
            <div style="width:40%;height:100%;">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@Model.title</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Name")
                    </div>
                    <div class="col-md-3">
                        @Model.User.firstName @Model.User.lastName
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Category")
                    </div>
                    <div class="col-md-3">
                        @Model.Category.categoryName
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Name")
                    </div>
                    <div class="col-md-3">
                        @Model.User.firstName @Model.User.lastName
                    </div>
                </div>

            </div>
        </td>
        <td>
            <img />
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
