@model _420_476_ProjetFinal_Desrosiers_Pucacco_Lam.Offer

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-md-12">
        <table style="width:100%">
            <tr>
                <td style="width:35%;">
                    <div style="width:40%;height:100%;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>@Model.title</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Name")
                            </div>
                            <div class="col-md-6">
                                @Model.User.firstName @Model.User.lastName
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Category")
                            </div>
                            <div class="col-md-6">
                                @Model.Category.categoryName
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Date de création de l'offre")
                            </div>
                            <div class="col-md-6">
                                @Model.dateCreated.ToLocalTime()
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Date de création de l'offre")
                            </div>
                            <div class="col-md-6">
                                @Model.dateCreated.ToLocalTime()
                            </div>
                        </div>
                        


                    </div>
                </td>
                <td style="width:50%;text-align:left;">
                    <img style="width:60%;height:50%;" src="http://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_900.jpg?1448476701" alt="img" />
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
