@model _420_476_ProjetFinal_Desrosiers_Pucacco_Lam.Request

@{
    ViewBag.Title = "Details";
}

<h2>Request</h2>

<h1>Detail</h1>
<div class="row">
    <div class="col-md-12">
        <table style="width:100%">
            <tr>
                <td style="width:35%;">
                    <div style="width:40%;height:100%;">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>@Model.title</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Name")
                            </div>
                            <div class="col-md-6">
                                @Model.User.firstName @Model.User.lastName
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Category")
                            </div>
                            <div class="col-md-6">
                                @Model.Category.categoryName
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("Date de création de l'offre")
                            </div>
                            <div class="col-md-6">
                                @Model.dateCreated.Value.ToLocalTime()
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width:50%;text-align:left;">
                    <img style="width:60%;height:50%;" src="http://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_900.jpg?1448476701" alt="img" />
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    @if (Session["ConnectedUserID"] != null)
    {
        using (Html.BeginForm("Message", "Messaging", FormMethod.Post))
        {
            <input type="hidden" name="creatorId" value="@(ViewBag.CreatorId)" />
            <input type="hidden" name="title" value="@(ViewBag.Title)" />
            <input type="submit" value="Contacter offreur" onclick="@("window.location.href='" + @Url.Action("Message", "Messaging") + "'");" />
        }
    }
    else {
        <button disabled>Contacter offreur</button> <br />
        @Html.ActionLink("Vous devez être connecté", "Login", "Account")
    }
</p>
<p>
    <input type="button" value="Retour" onclick="@("window.location.href='" + @Url.Action("Index", "Requests") + "'");" />
</p>