
@if (Session["ConnectedUser"] != null)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>Bonjours!</li>
            <li> @Html.ActionLink("Modifier son profil", "EditProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li>@Html.ActionLink("Se déconnecter", "LogOut", "Account", routeValues: null, htmlAttributes: new { id = "signoutLink" })</li>
           @* <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>*@
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "signupLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

